<!-- Modal -->
<div class="modal fade" id="modalComplete{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Task Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if task.completed == False %}
        Do you want to mark this task as complete?
        {% else %}
        Do you want to mark this task as undone?
        {% endif %}
      </div>
      <div class="modal-footer">

        <form action="{% url 'complete-task' task.id %}" method="Post">
          {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          {% if task.completed == False %}
          <input type="submit" class="btn btn-success" value="Complete">
          {% else %}
          <input type="submit" class="btn btn-warning" value="Undone">
          {% endif %}
          
        </form>

      </div>
    </div>
  </div>
</div>