{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Sign up{% endblock %}

{% block content %}

<div class="container min-vh-100">
    <div class="row align-items-center gx-5" id="form-container">
        <div class="col-md-6 order-md-2">
            <h2>Create your account</h2>
            <form method="Post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary" value="SignUp">
            </form>
        </div>
        <div class="col-md-6 order-md-2">
            <div class="col-12">
                <img src="{% static '/images/hello.svg'%}" alt="SignUp" class="img-fluid">
            </div>
            <div class="col-12" id="link-container">
                <a href="{% url 'login' %}">I already have an account</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}