{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Add Task{% endblock %}

{% block content %}
<div class="container min-vh-100">
    <div class="row align-items-center gx-5">
        <div class="col-md-6" id="add-task">
            <h2>{{task.title}}</h2>
            <form method="Post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input name="title" type="title" id="title" class="form-control" value="{{task.title}}">
                    <label for="title" class="form-label">Title</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea name="description" type="description" id="description" value="{{task.description}}"
                        class="form-control h-25" rows="3">{{task.description}}</textarea>
                    <label for="description" class="form-label">Description</label>
                </div>

                <div class="form-floating mb-3">
                    <input name="due_date" type="date" id="due_date"
                        class="form-control" value="{{task.due_date|safe}}">
                    <label for="due_date" class="form-label">Due Date</label>
                </div>

                <input type="submit" class="btn btn-primary" value="Update Task">
            </form>
        </div>
        <div class="col-md-6">
            <img src="{% static '/images/create_task.svg'%}" alt="Create Task" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}