<footer class="bg-dark text-center text-white" id="footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">

            <!-- Twitter -->
            <a href="#"><i class="bi bi-twitter"></i></a>

            <!-- Linkedin -->
            <a href="#"><i class="bi bi-linkedin"></i></a>

            <!-- Github -->
            <a href="#"><i class="bi bi-github"></i></a>
        </section>
        <!-- Section: Social media -->
        
        <div class="text-center">
            <em>Author: Daniel Ares Moraes</em>
        </div>

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(45, 46, 47);">
        © 2022 Copyright:
        <a class="text-white" href="https://twcomp.com/">ToDo Wick</a>
    </div>
    <!-- Copyright -->
</footer>