<footer class="bg-dark text-center" id="footer">
    <!-- Grid container -->
    <div class="container p-2">
        <!-- Section: Social media -->
        <section>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/danielares" role="button"><i
                    class="bi bi-twitter"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/daniel-ares-937518131/"
                role="button"><i class="bi bi-linkedin"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/danielares/" role="button"><i
                    class="bi bi-github"></i></a>

            <!-- Personal website -->
            <a class="btn btn-outline-light btn-floating m-1" href="http://www.danielares.xyz/" role="button"><i
                    class="bi bi-person"></i></a>
        </section>
        <!-- Section: Social media -->

        <div class="text-center m-2">
            <em>Author: Daniel Ares Moraes</em>
        </div>

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="copyright text-center p-3">
        © 2022 Copyright:
        <a class="" href="#">ToDo Wick</a>
    </div>
    <!-- Copyright -->
</footer>