{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
    {% bootstrap_messages %}
    <div class="row align-items-center gx-5">
        <a class="col-md-5 item" id="add-task" href="{% url 'add-task' %}">
            <p>
                <i class="bi bi-plus-circle"></i>
                Add task
            </p>
        </a>
        <a class="col-md-5 item" id="my-tasks" href="{% url 'all-my-tasks' %}">
            <p>
                <i class="bi bi-list-task"></i>
                My tasks
            </p>
        </a>
    </div>

    <div class="row text-center gx-5 mt-5">
        <div class="col-12">
            <img src="{% static '/images/todo.svg' %}" alt="ToDoImage" class="img-fluid"/>
        </div>
    </div>
</div>

</div>
{% endblock %}